header {
  margin: auto;
  display: flex;
  justify-content: center;
}

header > nav > ul > li {
  display: inline-block;
  margin: 10px;
}

main {
  display: flex;
  flex: 1;
  flex-direction: row;
  /* min-height: 500px; */
}

aside {
  flex: 1;
}

section {
  flex: 8;
  flex-direction: row;
}

footer {
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  gap: 10px;
}
